# class
### class = blue print
### object = instance of a class or objects are created from classes
### init built in functn

In [42]:
#class
class Giri:
    g=7

In [44]:
#object
class Giri:
    g=7
g1=Giri()
print(g1.g)

7

In [48]:
# init built in functn
class Giri1:
    def __init__(self, name, dept, age):
        self.name=name
        self.dept=dept
        self.age=age
g1=Giri1('Gov', 'AI&DS', 22)
print(g1.name)
print(g1.dept)

Gov
AI&DS

In [76]:
#str()
# f or F which means f-string (format or formatting)
#include variables and expressions within {}
class Giri:
    def __init__(self, name, dept, age):
        self.name=name
        self.dept=dept
        self.age=age
    def __str__(self):
        return f"{self.name} {self.dept}({self.age})"
g1=Giri('Gov', 'aids', 22)
print(g1)

Gov aids(22)

In [421]:
#inserting a new functn
class Giri:
    def __init__(self, name, dept):
        self.name=name
        self.dept=dept
    def newf(self):
        print('my name is ' + self.name)
    def newf1(self):
        print('my dept is ' + self.dept)
g1=Giri('Govardhan', 'aids')
g1.newf1()
g1.newf()

my dept is aids
my name is Govardhan

Python Regular Expressions:
=========================
A RegEx, or Regular Expression, is a sequence of charecters that forms a search 
pattern.

RegEx can be used to check if a string contains the specified search pattern.

RegEx Module:
----------------------
Python has a built-in package called re, which can be used to work with Regular 
Expressions.

Import the re Module:
-------------------------------
import re

RegEx in Python:
--------------------------
When you have imported the re module, you can start using regular expressions:

In [71]:
#using search()
#Example: Search the string if it starts with "There" and ends with "World":

import re
text='There are seven wonders in the World'
x=re.search("^There.*World$",text)
if x:
    print('Yes! words r there in the text')
else :
    print('No! not there')

Yes! words r there in the text

# RegEx Functions:

The 're' module offers a set of functions that allows us to search a string for a match.

## 1) The findall() function:
The findall() function returns a list containing all matches.hes.

In [132]:
#1) findall()
#Return a list containing every occurrence of "ai":

import re
text='There are seven wonders in the World'
x=re.findall('re',text)
print(x)

['re', 're']

In [116]:
import re
text='There are seven wonders in the World'
x=re.findall('re',text)
z=len(x)
print(x)
print(z)

['re', 're']
2

In [160]:
import re
text='There are seven wonders in the World'
x=re.findall('re',text)
z=len(x)
print(x)
print('the entered character is repeated ', z , ' times')

['re', 're']
the entered character is repeated  2  times

In [184]:
import re
text='There are seven wonders in the World'
y=input('enter the letter')
x=re.findall(y,text)
z=len(x)

print(x,z)

enter the letter e

['e', 'e', 'e', 'e', 'e', 'e', 'e'] 7

In [230]:
import re
text='There are seven wonders in the World'
y=input('enter the letter')
x=re.findall(y,text)
z=len(x)

print(x,'\n',z)

enter the letter e

['e', 'e', 'e', 'e', 'e', 'e', 'e']
 7

In [120]:
import re
text='There are seven wonders in the World'
y=input('enter the letter')
x=re.findall(y,text)

print(x)
print('the entered character is repeated '+str(len(x)) + ' times')

enter the letter e

['e', 'e', 'e', 'e', 'e', 'e', 'e']
the entered character is repeated 7 times

In [108]:
import re
sen='hello good morning people'
y=input('enter a character')
x=re.findall(y,sen)

if x:
    print(x)
   
    print('the entered character is repeated '+str(len(x)) + ' times')
else:
    print('no letter')

enter a character g

['g', 'g']
the entered character is repeated 2 times

In [122]:
import re
sen='hello good morning people'
y=input('enter a character')
x=re.findall(y,sen)

if x:
    print(x)
   
    print('the entered character is repeated '+str(len(x)) + ' times')
else:
    print('no letter')

enter a character z

no letter

In [124]:
import re
sen='There are seven wonders in the World'
x=re.findall('dog',sen)
print(x)

[]

## 2) The search() Function:-
The search() function searches the string for a match, and returns a Match object if 
there is a match.

If there is more than one match, only the first occurrence of the match will be 
returned.

Example: Search for the first white-space character in the string.

In [134]:
# 2)search(), start
import re

txt = "There are seven wonders in the World"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 5

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
C:\Users\USER\AppData\Local\Temp\ipykernel_9852\3109756145.py:5: SyntaxWarning: invalid escape sequence '\s'
  x = re.search("\s", txt)

In [136]:
import warnings
warnings.filterwarnings('ignore')

In [138]:
import re

txt = "There are seven wonders in the World"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 5

In [164]:
import re

txt = "There are seven wonders in the World"
x = re.search("\s", txt)

print(x.start())

5

In [236]:
# search(), end
import re

txt = "There are seven wonders in the World"
x = re.search("\s", txt)

print(x.end())

6

In [244]:
#If no matches are found, the value None is returned.

#Example: Make a search that returns no match:

import re

txt = "There are seven wonders in the World "
x = re.search("Country", txt)
print(x)

None

In [246]:
txt='There are seven wonders in the World'
x=re.search('seven',txt)
print(x)

<re.Match object; span=(10, 15), match='seven'>

## 3) The split() Function:-
The split() function returns a list where the string has been split at each match.

Example: Split at each white-space charecter.

In [255]:
txt='There are seven wonders in the World'
x=re.split('\s',txt)
print(x)

['There', 'are', 'seven', 'wonders', 'in', 'the', 'World']

In [287]:
txt='There are seven wonders in the World'
x=re.split('\s',txt,3)
print(x)

['There', 'are', 'seven', 'wonders in the World']

In [387]:
txt='There are seven wonders in the World'
x=re.split(r'\bW\w+',txt)
print(x)

['There are seven wonders in the ', '']

## Match 
### 4) The sub() Function:-
The sub() function replaces the matches with the text of your choice.

Example: Replace every white-space charecter with the number 9:

In [302]:
txt='There are seven wonders in the World'
x=re.sub('\s','7',txt)
print(x)

There7are7seven7wonders7in7the7World

In [324]:
#You can control the number of replacements by specifying the count parameter.
#Example: Replace the first 2 occurrences:
#eplace the first two occurrences of a white-space character with the digit 9:
txt='There are seven wonders in the World'
x=re.sub('\s','7',txt,3)
print(x)

There7are7seven7wonders in the World

### 5) span() the sub function in search()
-----

example) Print the position (start- and end-position) of the first match occurrence.

The regular expression looks for any words that starts with an upper case "S".

Search for an upper case "S" character in the beginning of a word, and print its position:

In [352]:
txt='There are seven wonders in the World Wow'
x=re.search(r'\bW\w+',txt)
print(x.span())

(31, 36)

### string
----
Example: Print the string passed into the function:-

#The string property returns the search string:

In [364]:
txt='There are seven wonders in the World'
x=re.search('\s',txt)
print(x.string)

There are seven wonders in the World

In [370]:
txt='There are seven wonders in the World'
x=re.split('\str',txt)
print(x)

['There are seven wonders in the World']

### 6) group() sub of search()
---

Example: Print the part of the string where there was a match.

The regular expression looks for any words that starts with an upper case "S":

Search for an upper case "S" character in the beginning of a word, and print the word: word:

In [406]:
txt='There are seven wonders in the World'
x=re.search(r'\bW\w+',txt)
print(x.group())

World

# Python Date&Time Module:
---
A date in python is not a data type of its own, but we can import a module named 
datetime to work with dates as date objects.

Example: Import the datetime module and display the current date

In [48]:
import datetime

x = datetime.datetime.now()

print(x)

2024-09-01 13:52:03.932715

In [78]:
import datetime
x=datetime.datetime.now()
print(x.year)
print(x.month)
print(x.hour,x.minute,x.second)
print(x.day)

2024
9
13 57 22
1

In [392]:
import datetime
x=datetime.datetime.now()
print((x.minute,x.hour,x.day,x.month,x.year)[::-1])

(2024, 9, 1, 21, 12)

In [438]:
import datetime
x=datetime.datetime.now()
print(x.strftime('%A'))
print(x.strftime('%a'))
print(x.strftime('%B'))
print(x.strftime('%b'))
print(x.strftime('%C'))
print(x.strftime('%c'))
print(x.strftime('%d'))
print(x.strftime('%D'))
print(x.strftime('%x'))
print(x.strftime('%X'))
print(x.strftime('%I:%M %S %p'))

Sunday
Sun
September
Sep
20
Sun Sep  1 21:27:29 2024
01
09/01/24
09/01/24
21:27:29
09:27 29 PM

In [300]:
x=datetime.datetime(2001,11,23)
print(x)

2001-11-23 00:00:00

In [388]:
x=datetime.datetime(2001,11,23)
print(x.strftime('%A'))

Friday

In [398]:
# The datetime() class also takes parameters for time and timezone (hour, 
# minute, second, microsecond, tzone), but they are optional, and has a default value 
# of 0, (None for timezone).

# The strftime() Method:
# -------------------------------
# The datetime object has a method for formatting date objects into readable strings.

# The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:

# Example: Display the name of the month:

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June